<p>login User!</p>
<form >
    <div>
        Username:
        <input class="username" matInput [formControl]='username'>
        <!-- <input type="text" formControlName="username" placeholder="Enter UserName"> -->
        <small>
            <!-- {{getUserNameErrorMessage()}} -->
        </small>
    </div>
    <br>
    <br>
    <br>
    <div>
        Password:
        <input class="password" matInput [formControl]='password'>
        <!-- <input type="text" formControlName="password" placeholder="Enter password"> -->
        <!-- {{getPasswordErrorMessage()}} -->
    </div>
    <br>
    <br>
    <div>
        <button type="submit" mat-button (click)="loginSubmit()">Submit</button>
        <!-- <button (click)="loginSubmit()">login</button> -->
    </div>

</form>

<div style="text-align:center">
  <label class="error-message">{{ submitMessage }}</label>
</div>