<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>
<!-- Expansion panel to add new notes -->


<mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Take a note
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
        <mat-label>Notes Title</mat-label>
        <input matInput type="text" name="title"  [(ngModel)]="notes.title" placeholder="Enter Notes Title" />
        <!-- <input matInput type="number" min="1"> -->
    </mat-form-field>
    <br><br>
    <mat-form-field>
        <mat-label>Notes Text</mat-label>
        <textarea matInput name="text" [(ngModel)]="notes.text" placeholder="Enter Notes Text"></textarea>
    </mat-form-field>

    <!-- <input type="text" name ="noteTitle" placeholder="Enter Notes Title"/><br> -->

    <mat-action-row>
        <button mat-button color="warn" (click)="addNotes()">Done</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
</mat-expansion-panel>







<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->



<div *ngIf="noteList && noteList.length">
    <mat-card class="inline-block" *ngFor="let note of noteList">
        <mat-card-header>
         
            <mat-card-title>{{note.title}}</mat-card-title>
            
          </mat-card-header>
        <mat-card-content>
            
              {{note.text}}
        
        </mat-card-content>
     
    </mat-card>
    </div>
    